.cont{
    margin-bottom: 9rem;
}
.title{
    display: block;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
    font-weight: bold;
}
.title::after{
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 2rem;
    background: #7843E9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.subTitle{
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}