@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section{
    scroll-margin-top: 6rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Color del fondo de la barra */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7843e9; 
  border-radius: 6px; 
  border: 2px solid #f3f4f6; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5c30b8; 
}

.toggle {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 2px;
  background-color: #333333;
  border-radius: 3px;
}

.toggle .bars:nth-child(2) {
  transition-duration: 0.8s;
}

.toggle .bars:nth-child(1),
.toggle .bars:nth-child(3) {
  width: 70%;
}

/* ===== ANIMACION ORIGINAL ===== */

.toggle.open .bars {
  position: absolute;
  transition-duration: 0.5s;
}

.toggle.open .bars:nth-child(2) {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

.toggle.open .bars:nth-child(1) {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

.toggle.open .bars:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

.toggle.open {
  transform: rotate(180deg);
}

.home-background {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("/common-bg.svg");
  background-position: center;
}

.home-background-none {
  background: none !important;
}
